:root {
    --color: #223c37;
    --bg-color: #e0c6b3;
 }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
	font-size: 70.5%;
}

body{
    font-family: 'Rubik', sans-serif;
    background-color: var(--bg-color);
    color : var(--color);
}


form{
    margin-left: 25px;
    
}


.searchBar{
    padding: 0%;
    margin: 0%;
    box-shadow: 0 -50px black;
    
}

.container{
    display: flex;
    flex-direction: column;
}

.subcontainer{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.signinButton{
    margin-right: 25px;
}

.loginSigninButtonCart{
    border-radius: 25%;
    margin-top: 50px;
}

img{
    max-width: 100px;
    max-height: 100px;

}



.prixTitle{
    
    font-size: 2rem;
}

.resultsBG{
    background-color:var(--bg-color) ;
    
    font-size: 1.5rem;
}


.results{
    font-size: 3rem;
    margin-left: 25px;
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    flex-wrap: wrap;
  
}

li{
    display: flex;
    align-items: baseline;
}

.result_display{
    display:block;
}