:root {
    --color: rgb(0, 0, 0);
    --bg-color: rgb(253, 246, 237);
 }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
	font-size: 70.5%;
}

body{
    font-family: 'Rubik', sans-serif;
    background-color: var(--bg-color);
}
.titleRecherche{
    margin-left: 25px;
    font-size: 3.2rem;
}

form{
    margin-left: 25px;
    color:black;
}


.searchBar{
    padding: 0%;
    margin: 0%;
    box-shadow: 0 -50px black;
    
}

.container{
    display: flex;
    flex-direction: column;
}

.subcontainer{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.signinButton{
    margin-right: 25px;
}

.loginSigninButton{
    border-radius: 25%;
    margin-top: 50px;
}

img{
    max-width: 100px;
    max-height: 100px;

}

.searchButton{
    background-color: rgb(26, 26, 26);
    color: rgb(255, 255, 255);
    ;
}

.prixTitle{
    color :rgb(41, 41, 41);
    font-size: 2rem;
}

.resultsBG{
    background-color:var(--bg-color) ;
    color :rgb(29, 29, 29);
    font-size: 1.5rem;
}

#listeResultats{
    margin-left: 50px;
}
.results{
    font-size: 3rem;
    margin-left: 25px;
  
}